@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior: none;
}

@layer base {
  /* WebViewer Optimization: Remove scrollbars but allow scrolling */
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Prevent all browser native overscroll/bounce effects */
    overscroll-behavior: none; 
    overflow-x: hidden;
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .shadow-ambient {
    box-shadow: 0 4px 16px var(--tw-shadow-color);
  }
  .shadow-3d {
    box-shadow: 0 4px 0 var(--tw-shadow-color);
  }
}
